<nav class="navbar-container">
		<div class="list-menu-item">
      <a href="/"><img src="/images/favicon-32x32.png" class="icon-gap">Sounder</a>
    </div>
    <div class="item-menu">
    <div class="list-menu-item">
      <a href="/playlists"><i class="material-icons md-18 icon-gap">queue_music</i>Playlists</a>
    </div>
    <div class="list-menu-item">
      <a href="/playlists"><i class="material-icons md-18 icon-gap">music_note</i>Liked Tracks</a>
    </div>
    <div class="list-menu-item">
      <a href="#"><img src="{{user.imageURL}}" class="icon-gap" >Profile</a>
    </div> 
  </div>
</nav>
<section class="bg-dark">
  <div class="title-header">
    <h2>Saved Playlists</h2>
    <p>Check out all playlists created with Sounder!</p>
  </div>

<div class="playlist-container">
  <ul>
    {{#each playlists}}
    <li class="playlists-items">

      <div class="cover-container">
        <div class="playlist-cover">
          {{#each this.images}}
          <img src="{{this}}" width="40px" height="40px" />
          {{/each}}
        </div>
      </div>

      <div>
        <h3>{{this.name}}</h3>
        <div class="btn-section">
          <div class="del-btn">
            <a href="/playlists/delete/{{_id}}"><i class="material-icons md-18">delete_forever</i> Delete</a>
          </div>
          <div class="open-btn">
            <a href="https://open.spotify.com/playlist/{{spotify_id}}" target="_blank"><i
                class="material-icons md-18">play_circle_outline</i> Open in Spotify</a>
          </div>
        </div>
      </div>

    </li>
    {{/each}}
  </ul>
  </div>
</section>