{{> navbar}}
<div class="bg-dark">
  <div class="tracks-container">
    <ul id="list-of-playlists" class="w3-ul w3-card-2 w3-small">
      {{#each playlists}}
      <li class="w3-bar">
        <div class="w3-bar-item">
          <div class="playlist-cover">
            {{#each this.images}}
            <img src="{{this}}" width="40px" height="40px" />
            {{/each}}
          </div>
        </div>
        <div class="playlist-info w3-bar-item">
          <span class="w3-large">{{this.name}}</span>
        </div>

        {{!-- <div class="track-link w3-bar-item w3-right ">
          <button onclick="modalDeletePlaylist('{{_id}}')" title="Delete this playlist"
            class="delete-btn material-icons md-light">delete_forever</button>
          <a href="https://open.spotify.com/playlist/{{spotify_id}}" target="_blank"><i
              class="material-icons md-18">play_circle_outline</i></a>
        </div> --}}

        <div class=" track-link w3-bar-item w3-right">
          <button onclick="modalDeletePlaylist('{{_id}}')" title="Delete this playlist" class="bg-red add-track-button material-icons md-light">delete_forever</button>
          <a href="https://open.spotify.com/playlist/{{spotify_id}}" target="_blank" title="Open playlist in Spotify" class="material-icons md-light">open_in_new</a>
        </div>

      </li>
      {{/each}}
    </ul>
  </div>
  <div id="myModal" class="w3-modal"></div>
</div>
<script src="javascripts/playlists-script.js"></script>