<<<<<<< HEAD
{{> navbar}}
<div class="bg-dark">
  <div class="tracks-container">
    <div id="tracks-header">
      <form action="/playlists/add-to-spotify" method="post">
        <input type="text" name="playlist_name" id="playlist-name" placeholder="New playlist name">
        <button type="submit" id="add-playlist-button">Add to Spotify</button>
      </form>
    </div>
    <ul class="w3-ul w3-card-2 w3-small">
      {{#each myTracks}}
      <li class="w3-bar">
        <img src={{this.album.images.0.url}} class=" album w3-bar-item w3-circle" style="width: 50px; height: 50px;">
        <audio class="audio-preview" src="{{this.preview_url}}"></audio>
        <div class=" track-info w3-bar-item">
          <span class="w3-large">{{this.name}}</span><br>
          <span class="artist">{{this.artists.0.name}}</span>
        </div>
        <div class=" track-link w3-bar-item w3-right">
          <a title="Add to my Spotify library" class="material-icons md-light" href="#">add_box</a>
          <a title="Open track in Spotify" class="material-icons md-light" href="http://open.spotify.com/track/{{this.spotify_id}}">open_in_new</a>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
  
<script src="javascripts/tracks-script.js"></script>
=======
<nav class="navbar-container">
		<div class="list-menu-item">
      <a href="/"><img src="/images/sounder_app_logo.png" class="icon-gap">Sounder</a>
    </div>
    <div class="item-menu">
    <div class="list-menu-item">
      <a href="/playlists"><i class="material-icons md-18 icon-gap">queue_music</i>Playlists</a>
    </div>
    <div class="list-menu-item">
      <a href="/tracks"><i class="material-icons md-18 icon-gap">music_note</i>Liked Tracks</a>
    </div>
    <div class="list-menu-item">
      <a href="#"><img src="{{user.imageURL}}" class="icon-gap" >Profile</a>
    </div> 
  </div>
</nav>
<section class="bg-dark">
  <div class="title-header">
    <h2>Liked Tracks</h2>
    <p>Checkout all your liked tracks with Sounder!</p>
  </div>

  <div class="tracklist-container">
    <label>Insert your playlist name bellow</label>
    <form action="/add-to-spotify" method="POST">
      <input placeholder="Your playlist name" name="playlist_name" required>
      <button type="submit" name="create-playlist">Create Playlist</button>
    </form>

    <div class="tracklist">
      <div class="cover-container">
        <div class="playlist-cover">
          {{#each this.imageURL}}
          <img src="{{this}}" width="40px" height="40px" />
          {{/each}}
        </div>
      </div>

      <div class="tracklist-items">
        <ul>
          {{#each tracks}}
          <li>
            <h3>{{this.name}}</h3>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
>>>>>>> develop
